.image-container {
    position: relative;
    margin-top: 2px;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    z-index: 3;
}

.overlay-title {
    margin-top: 2px;
    color: white;
    font-size: clamp(12px, 4vw, 30px);
    font-weight: bold;
}

.overlay-text {
    color: white;
    font-size: clamp(11px, 3vw, 19px);
    margin-top: 19px;
    font-weight: bold;
}